

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}



section {
  position: fixed;
  height: 100%;
  width: 100%;
}

button.show-modal,
.modal-box {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
section.active .show-modal {
  display: none;
}
.overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0;
  pointer-events: none;
}
section.active .overlay {
  opacity: 7;
  pointer-events: auto;
}
.modal-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  height: 450px;
  width: 100%;
  padding: 30px 20px;
  border-radius: 24px;
  background-color: #fff;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
  transform: translate(-50%, -50%) scale(1.2);
 
}
section.active .modal-box {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
}

.icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 59px;
  height: 59px;
  cursor: pointer;
  margin: 25px;
}
.icon-MR1 {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
}

.icon-MR2 {
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translateY(-50%);
}
.icon-MR3 {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translateY(-50%);
}
.icon-MR4 {
  position: absolute;
  top: 50%;
  left: 55%;
  transform: translateY(-50%);
}
.icon-MR5 {
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translateY(-50%);
}


.acon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50px;
  height: 50px;
  padding: 11px;
  justify-content: space-between;
  background-color: transparent;
  cursor: pointer;



}
.icon-Sidebar {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  justify-content: space-between;
}

.accon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50px;
  height: 50px;
  padding: 11px;
  cursor: pointer;
  background-color: transparent;
  
}



